:root {
    --dwc-color-primary-h: 36;
    --dwc-color-primary-s: 100%;
    --dwc-color-primary-c: 35;
    --dwc-color-info-h: 216;
    --dwc-color-info-s: 100%;
    --dwc-color-info-c: 55;
    --dwc-color-success-h: 90;
    --dwc-color-success-s: 100%;
    --dwc-color-success-c: 30;
    --dwc-color-danger-h: 15;
    --dwc-color-danger-s: 100%;
    --dwc-color-danger-c: 45;
    --dwc-color-warning-h: 36;
    --dwc-color-warning-s: 100%;
    --dwc-color-warning-c: 35;
    --dwc-color-default-h: var(--dwc-color-primary-h);
    --dwc-color-default-s: 10%;
    --dwc-color-default-c: 45;
    --dwc-color-primary-dark: var(--dwc-color-primary-45);
    --dwc-color-on-primary-text-dark: var(--dwc-color-primary-text-45);
    --dwc-color-primary: var(--dwc-color-primary-50);
    --dwc-color-on-primary-text: var(--dwc-color-primary-text-50);
    --dwc-color-primary-light: var(--dwc-color-primary-55);
    --dwc-color-on-primary-text-light: var(--dwc-color-primary-text-55);
    --dwc-color-info-dark: var(--dwc-color-info-50);
    --dwc-color-on-info-text-dark: var(--dwc-color-info-text-50);
    --dwc-color-info: var(--dwc-color-info-55);
    --dwc-color-on-info-text: var(--dwc-color-info-text-55);
    --dwc-color-info-light: var(--dwc-color-info-60);
    --dwc-color-on-info-text-light: var(--dwc-color-info-text-60);
    --dwc-color-success-dark: var(--dwc-color-success-50);
    --dwc-color-on-success-text-dark: var(--dwc-color-success-text-50);
    --dwc-color-success: var(--dwc-color-success-55);
    --dwc-color-on-success-text: var(--dwc-color-success-text-55);
    --dwc-color-success-light: var(--dwc-color-success-60);
    --dwc-color-on-success-text-light: var(--dwc-color-success-text-60);
    --dwc-color-danger-dark: var(--dwc-color-danger-50);
    --dwc-color-on-danger-text-dark: var(--dwc-color-danger-text-50);
    --dwc-color-danger: var(--dwc-color-danger-55);
    --dwc-color-on-danger-text: var(--dwc-color-danger-text-55);
    --dwc-color-danger-light: var(--dwc-color-danger-60);
    --dwc-color-on-danger-text-light: var(--dwc-color-danger-text-60);
    --dwc-color-warning-dark: var(--dwc-color-warning-50);
    --dwc-color-on-warning-text-dark: var(--dwc-color-warning-text-50);
    --dwc-color-warning: var(--dwc-color-warning-55);
    --dwc-color-on-warning-text: var(--dwc-color-warning-text-55);
    --dwc-color-warning-light: var(--dwc-color-warning-60);
    --dwc-color-on-warning-text-light: var(--dwc-color-warning-text-60);
    --dwc-color-default-dark: var(--dwc-color-default-85);
    --dwc-color-on-default-text-dark: var(--dwc-color-default-text-85);
    --dwc-color-default: var(--dwc-color-default-90);
    --dwc-color-on-default-text: var(--dwc-color-default-text-90);
    --dwc-color-default-light: var(--dwc-color-default-95);
    --dwc-color-on-default-text-light: var(--dwc-color-default-text-95);
    --dwc-color-primary-text-dark: var(--dwc-color-primary-15);
    --dwc-color-primary-text: var(--dwc-color-primary-20);
    --dwc-color-primary-text-light: var(--dwc-color-primary-25);
    --dwc-color-info-text-dark: var(--dwc-color-info-40);
    --dwc-color-info-text: var(--dwc-color-info-45);
    --dwc-color-info-text-light: var(--dwc-color-info-50);
    --dwc-color-success-text-dark: var(--dwc-color-success-15);
    --dwc-color-success-text: var(--dwc-color-success-20);
    --dwc-color-success-text-light: var(--dwc-color-success-25);
    --dwc-color-danger-text-dark: var(--dwc-color-danger-30);
    --dwc-color-danger-text: var(--dwc-color-danger-35);
    --dwc-color-danger-text-light: var(--dwc-color-danger-40);
    --dwc-color-warning-text-dark: var(--dwc-color-warning-20);
    --dwc-color-warning-text: var(--dwc-color-warning-25);
    --dwc-color-warning-text-light: var(--dwc-color-warning-30);
    --dwc-color-default-text-dark: var(--dwc-color-default-30);
    --dwc-color-default-text: var(--dwc-color-default-35);
    --dwc-color-default-text-light: var(--dwc-color-default-40);
}

html[data-app-theme~='dark'],
html[data-app-theme~='dark-pure'] {
    --dwc-color-primary-text-dark: var(--dwc-color-primary-40);
    --dwc-color-primary-text: var(--dwc-color-primary-45);
    --dwc-color-primary-text-light: var(--dwc-color-primary-50);
    --dwc-color-info-text-dark: var(--dwc-color-info-20);
    --dwc-color-info-text: var(--dwc-color-info-25);
    --dwc-color-info-text-light: var(--dwc-color-info-30);
    --dwc-color-success-text-dark: var(--dwc-color-success-50);
    --dwc-color-success-text: var(--dwc-color-success-55);
    --dwc-color-success-text-light: var(--dwc-color-success-60);
    --dwc-color-danger-text-dark: var(--dwc-color-danger-25);
    --dwc-color-danger-text: var(--dwc-color-danger-30);
    --dwc-color-danger-text-light: var(--dwc-color-danger-35);
    --dwc-color-warning-text-dark: var(--dwc-color-warning-40);
    --dwc-color-warning-text: var(--dwc-color-warning-45);
    --dwc-color-warning-text-light: var(--dwc-color-warning-50);
    --dwc-color-default-text-dark: var(--dwc-color-default-25);
    --dwc-color-default-text: var(--dwc-color-default-30);
    --dwc-color-default-text-light: var(--dwc-color-default-35);
    --dwc-color-default-s: 3%;
}

html[data-app-theme~='dark-pure'] {
    --dwc-color-primary-text-dark: var(--dwc-color-primary-45);
    --dwc-color-primary-text: var(--dwc-color-primary-50);
    --dwc-color-primary-text-light: var(--dwc-color-primary-55);
    --dwc-color-info-text-dark: var(--dwc-color-info-20);
    --dwc-color-info-text: var(--dwc-color-info-25);
    --dwc-color-info-text-light: var(--dwc-color-info-30);
    --dwc-color-success-text-dark: var(--dwc-color-success-50);
    --dwc-color-success-text: var(--dwc-color-success-55);
    --dwc-color-success-text-light: var(--dwc-color-success-60);
    --dwc-color-danger-text-dark: var(--dwc-color-danger-30);
    --dwc-color-danger-text: var(--dwc-color-danger-35);
    --dwc-color-danger-text-light: var(--dwc-color-danger-40);
    --dwc-color-warning-text-dark: var(--dwc-color-warning-45);
    --dwc-color-warning-text: var(--dwc-color-warning-50);
    --dwc-color-warning-text-light: var(--dwc-color-warning-55);
    --dwc-color-default-text-dark: var(--dwc-color-default-30);
    --dwc-color-default-text: var(--dwc-color-default-35);
    --dwc-color-default-text-light: var(--dwc-color-default-40);
    --dwc-color-default-s: 3%;
}

pre, p {
    margin: 0px;
}

.tab-control {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.tab-control-toolbar {
    border: 1px solid #d7d7d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-control-tab {
    padding: 10px;
    cursor: pointer;
}

.tab-control-tab.active {
    background-color: var(--dwc-color-primary);
    color: black;
}

.tab-control-tabs-container {
    width: 100%;
}

.tab-control-extra-container {
    width: auto;
    padding-right: 5px;
    display: flex;
    gap: 10px;
}

.tab-control-content-container {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #d7d7d7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    overflow-y: auto;
}

.response-status-code {
    padding: 5px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.response-status-code-label {
    color: black;
    white-space: nowrap;
}

.response-duration, .response-bytes {
    padding: 5px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

.response-duration-label, .response-bytes-label {
    color: black;
    white-space: nowrap;
}

div.jsoneditor-outer.has-main-menu-bar {
    margin-bottom: -26px !important;
    padding-bottom: 26px !important;
}

.requests-manager {
    background-color: var(--dwc-color-primary);
    overflow: hidden;
    height: calc(100% - 20px);
    padding: 10px;
    min-width: 400px;
    width: 400px;
}

.requests-manager-heading {
    margin-bottom: 10px;
}

.requests-manager-new-button {
    margin-bottom: 10px;
}

.request-container {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.request-container.active {
    background-color: #E7E7E7;
    border-color: #E7E7E7;
}

.request-container-left {
    padding: 10px 0px 10px 10px;
}

.request-container-right {
    padding: 10px 10px 10px 0px;
}