/* Base Drawer Styles */
.bookstore-drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.bookstore-drawer:not([opened]) {
    display: none;
}

.bookstore-drawer::part(control) {
    height: 80vh;
    border-top-left-radius: var(--dwc-border-radius-l);
    border-top-right-radius: var(--dwc-border-radius-l);
    box-shadow: 0 -4px 10px hsl(var(--dwc-color-default-h) var(--dwc-color-default-s) 0% / 0.1);
}

/* Common Drawer Layout */
.drawer-content {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
    padding: var(--dwc-space-l);
    height: 100%;
}

.drawer-button-bar {
    display: flex;
    gap: var(--dwc-space-s);
}

/* Genre Management specific */
.genre-main-layout {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
    padding: var(--dwc-space-l);
    height: 100%;
}

.genre-add-section {
    display: flex;
    align-items: center;
    gap: var(--dwc-space-s);
}

.genre-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    gap: var(--dwc-space-s);
}

.genre-list-row {
    display: flex;
    align-items: center;
    gap: var(--dwc-space-s);
    border-bottom: 1px solid hsl(var(--dwc-color-default-h) var(--dwc-color-default-s) 50% / 0.15);
    padding: var(--dwc-space-xs);
}

.genre-name-label {
    flex-grow: 1;
}

/* Book Form specific */
.book-genres-box {
    height: 150px;
}