body {
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
    padding-top: var(--dwc-space-m);
    box-sizing: border-box;
    gap: var(--dwc-space-m);
    overflow: hidden;
}

.table-container {
    flex: 1;
}

.books-table {
    width: 100%;
    height: 100%;
    flex: 1;
}

.no-results-message {
    text-align: center;
    padding: 20px;
    color: var(--dwc-color-gray-500);
}

.toolbar {
    padding: 0 var(--dwc-space-s);
}

.toolbar::part(control) {
    justify-content: space-between;
}

/* Shadow Part Styling for ISBN Cell */
dwc-table::part(isbn-cell) {
    font-family: monospace;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
}