/*
Migrated from the HueCraft v25 palette to DWC v2 seeds.
https://huecraft.dwc.style/?p=262%2C83%2C85&d=180&b=10&dc=1&csl=1&t=l&s=5
*/

:root {
  --dwc-color-primary-h: 22;
  --dwc-color-primary-s: 71%;
  --dwc-color-info-h: 172;
  --dwc-color-info-s: 71%;
  --dwc-color-success-h: 90;
  --dwc-color-success-s: 71%;
  --dwc-color-danger-h: 15;
  --dwc-color-danger-s: 71%;
  --dwc-color-warning-h: 22;
  --dwc-color-warning-s: 71%;
  --dwc-color-default-h: var(--dwc-color-primary-h);
  --dwc-color-default-s: 10%;
}

html[data-app-theme='dark'],
html[data-app-theme='dark-pure'] {
  --dwc-color-default-s: 3%;
}
